body, html{
   height: 100%;
}

.bg{
    background: url(../image/home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.blur{
    filter: blur(5px);
    -o-filter: blur(5px);
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
}

.bg-text {
    background-color: rgba(0,0,0, 0.2); 
    color: white;
    font-weight: bold;
    border: 1.5px solid #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 30%;   
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
  }

.bg-form{
    background-color: rgba(255, 255, 255, 0);
    color: white; 
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 77%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 10px;
    text-align: center;
}

input{
    margin: 5px;
    width: 80%;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

input[type=submit]{
    border-radius: 8px;
    width: 30%;
}
