body{
    background: url(../image/home2_blurred.jpg) no-repeat center center fixed;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position:absolute; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-container{
    padding-top: 9%;
}

.date-container{
    text-align: right;
    padding-top: 1%;
    padding-right: 2%;
}

.regist-container{
    padding-top: 6%;
    max-width: 700px;
    text-align: center;
}

.bg-text {
    background-color: rgba(0,0,0, 0.2); 
    color: white;
    font-weight: bold;
    border: 1.5px solid #ffffff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
  }

.form-login-container{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 5px;
    padding-top: 2%;
    text-align: center;
}

input{
    margin: 5px;
    width: 80%;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

input[type=submit]{
    border-radius: 8px;
    width: 30%;
}

.input-register {
    height: 40px;
}

.register-btn {
    display: block;
    width: 100%;
    border: 1px;
    background-color: grey;
    padding: 10px;;
    font-size: 16px;
    text-align: center;
}

.register-text {
    text-align: center;
    color: white;
    font-weight: bold;
}

form > a{
    color: white;
}

form > a:hover{
    color: cyan;
}

.date{
    text-align: right;
    color: white;
}

.bayangan-kiri{
    box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.2); 
}

.bayangan-kiri:hover{
    box-shadow: -4px 0 16px 0 rgba(0, 0, 0, 0.2);
}

.bayangan-kanan{
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2); 
}

.bayangan-kanan:hover{
    box-shadow: 4px 0 16px 0 rgba(0, 0, 0, 0.2);
}

.bayangan-bawah{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.bayangan-bawah:hover{
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

.bayangan-atas{
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.bayangan-atas:hover{
    box-shadow: 0 -4px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Home Page */

.wrapper {
    display: flex;
    width: 100%;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
}

#sidebar {
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 998;
    background: #eeeeee;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #90a4ae;
    height: 20%;
    margin: auto;
}

#sidebar .sidebar-footer{
    background-color: #78909c;
    position: absolute;
    bottom: 0;
    margin: 0;
    z-index: 999;
    width: 100%;
    color: #fff;
    text-align: left;
    padding: 0px !important;
}

#sidebar ul.components {
    padding: 20px 0;
    background: #78909c;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #546e7a;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #607d8b;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

.a-group{
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
}

.a-left{
    width: 70%;
}

.a-right{
    width: 30%;
}

.btn-home{
    background: none;
    outline: none;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 40px;
    padding: 0;
}

.btn{
    background-color:#90a4ae;
    color: #fff;
}

.btn:hover{
    background-color: #78909c;
}

.navbar{
    border: 2px solid #78909c;
    border-radius: 3px;
}

/* content */

#content {
    width: calc(100% - 250px);
    padding: 10px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.header{
    background-color: #eeeeee;
    height: 35px;
    width: 100%;
    padding: 5px;
}

#mainContainer .column{
    float: left;
    width: 25%;
    padding: 0 10px;
}

#mainContainer .row{
    margin: 0 -5px;
    margin-top: 5%;
}

#mainContainer .row:after{
    content: "";
    display: table;
    clear: both;
}

#main .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #78909c;
    color: #fff;
    border: 2px solid #fff;
}

#main .card:hover{
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

#main .container{
    margin-bottom: 20px;
}

#housemateContainer{
    margin-top: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #78909c;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
}

#housemateContainer .judul{
    text-align: center;
}

#financeContainer{
    margin-top: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #78909c;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
}

#financeContainer .judul{
    text-align: center;
}

#taskContainer{
    margin-top: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #78909c;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
}

#taskContainer .judul{
    text-align: center;
}

#taskContainer .row{
    margin: 0 -5px;
    margin-top: 5%;
}

hr{
    background-color: #fff;
    height: 3px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hide{
    display: none; 
}

.aktif{
    background: #607d8b;
}

.footer{
    background-color: #eeeeee;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 5px;
}

/* media queries */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active{
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }

    #main .column{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


